# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#doxygen files
_doc/*
index.html

#git additionals
mail.sh

#data, caches and binaries
data
*cache

src/*

#CMake-created things
# bin/*
# CMakeCache.txt
# cmake_install.cmake
# **/CMakeFiles/*
# **/Makefile
# 
# lib*/CMakeFiles/*
# lib*/cmake_install.*
# test/gtest/*
#ignore all cmake/gtest stuff except CMakeLists.txt
**/MakeCache.txt
**/CMakeFiles/*
**Makefile
**cmake_install.cmake 
bin/*
**MakeCache.txt
gtest*
gmock*
**/*.so
**/googletest*
**/*.cmake
